@import "fonts.less";

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: #333;
  color: #fff;
  margin: 0 0 48px;
  font-family: sans-serif;
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    color: #ccc;
  }

  &:active {
    color: #aaa;
  }
}

h1 {
  margin: 1em 0 0px;
  padding: 0;
  font-size: 16px;
  text-align: center;
}

input,
button {
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 5px 5px;
  box-shadow: 0px 0px 5px #222;
}

button:hover {
  background-color: #555;
}

button:active {
  background-color: #222;
  color: #ccc;
}

form#main {
  #url {
    font-weight: bold;
    padding: 1em;
    width: 100%;
  }

  #url::selection,
  #url::-moz-selection {
    background: #666;
  }

  .search-results {
    a {
      color: white;
      display: block;
      font-weight: bold;
      text-decoration: none;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      img {
        float: left;
        width: 40px;
        height: 40px;
        margin: 5px 0;
      }

      span {
        margin-left: 1em;
        line-height: 50px;
        vertical-align: bottom;
      }
    }

    a:hover {
      background-color: #555;
    }
    a:active {
      background-color: #222;
      color: #ccc;
    }

    a:visited {
      color: white;
    }

    a:after {
      clear: both;
    }
  }

  div.controls {
    background-color: #222;
    padding: 5px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    button {
      font-size: 32px;
      margin-right: 0.4em;
      text-align: center;
      width: 48px;
      height: 48px;
      cursor: pointer;
    }

  }
}

div#status {
  overflow: auto;
  position: fixed;
  padding: 0.5em;
  top: 1em;
  left: 1em;
  right: 1em;
  bottom: 1em;
  background-color: #222;

  p {
    color: #ccc;
    margin: 0;
    font-size: 0.8em;
  }

  p.err {
    color: #fcc;
    color: #660000;
  }
}

div.box {
  height: 100%;
  padding: 1em;

  .row.urls {
    flex: 0 1 auto;

    a {
      color: #ccc;
      display: block;
      font-weight: bold;
      text-decoration: underline;
    }
  }

}

button#status-show {
  font-size: 32px;
  text-align: center;
  width: 48px;
  height: 48px;
  cursor: pointer;
  position: fixed;
  z-index: 999;
  right: 5px;
  bottom: 5px;
}
